<h1>Listing plants</h1>

<table>
  <tr>
    <th>Name</th>
    <th>Description</th>
    <th>Sowing</th>
    <th>Blooming</th>
    <th>Harvesting</th>
    <th></th>
    <th></th>
    <th></th>
  </tr>

<% @plants.each do |plant| %>
  <tr>
    <td><%= plant.name %></td>
    <td><%= plant.description %></td>
    <td><%= plant.sowing %></td>
    <td><%= plant.blooming %></td>
    <td><%= plant.harvesting %></td>
    <td><%= link_to 'Show', plant %></td>
    <td><%= link_to 'Edit', edit_plant_path(plant) %></td>
    <td><%= link_to 'Destroy', plant, method: :delete, data: { confirm: 'Are you sure?' } %></td>
  </tr>
<% end %>
</table>

<br />

<%= link_to 'New Plant', new_plant_path %>
