<div class="span12">
	<h1><%= @plant.name %></h1>
	<p id="notice"><%= notice %></p>
	
	<p>
	  <b>Name:</b>
	  <%= @plant.name %>
	</p>
	
	<p>
	  <b>Description:</b>
	  <%= @plant.description %>
	</p>
	
	<p>
	  <b>Sowing:</b>
	  <%= @plant.sowing %>
	</p>
	
	<p>
	  <b>Blooming:</b>
	  <%= @plant.blooming %>
	</p>
	
	<p>
	  <b>Harvesting:</b>
	  <%= @plant.harvesting %>
	</p>
	
	<h2>Comments</h2>
	<%= render @plant.comments %>
	
	<h2>Add a comment:</h2>
	
	<%= form_for([@plant, @plant.comments.build]) do |f| %>
	  <div class="field">
	    <%= f.label :commenter %><br />
	    <%= f.text_field :commenter %>
	  </div>
	  <div class="field">
	    <%= f.label :body %><br />
	    <%= f.text_area :body %>
	  </div>
	  <div class="actions">
	    <%= f.submit %>
	  </div>
	<% end %>
	
	<%= link_to 'Edit', edit_plant_path(@plant) %> |
	<%= link_to 'Back', plants_path %>
</div>